<%- include('include/header.ejs') %>
<div class="container">
    <div class="col-md">
        <h1 class="text-center m-5">
            Create Item
        </h1>
        <form method="POST" action="/inventory/items/store">
            <div class="form-floating mb-3">
                <input class="form-control" type="text" name="item_name" id="item_name" placeholder="name" required>
                <label for="item_name">Item Name</label>
            </div>
            <div class="form-group mb-3">
                <select name="category" id="category" class="form-control"></select>
                <% if (categories) { %>
                    <% categories.forEach(category => { %>
                        <option value="<%= category._id %>"><%= category.category_name %></option>
                    <% }) %>
                <% } else { %>
                 
                <% } %>
            </div>
            <div class="form-group">
                <input class="btn btn-primary" type="submit" value="Add Category">
            </div>
        </form>
    </div>
</div>
<%- include('include/footer.ejs') %>